 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.success-text{
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #9a4ffc6c;
  margin:10px 250px;
  margin-bottom: 10px;
  padding: 15px 0px 15px 0px;
  border-radius: 0px 0px 15px 15px;
  animation: ani2 2s ease-in backwards;
  opacity: 0;
}

.reg-note{
  background: linear-gradient(180deg,#fe3ab381 0%,#588cfe85 100%);
  margin:10px 250px;
  border-radius: 0px 0px 15px 15px;
  opacity: 0;
  animation: ani3 4.5s ease-in forwards;
}

.reg-note-msg{
  margin-left: 70px;
  color: black;
  font-weight: 600;
  padding-top: 20px;
}
.reg-note-points ul{
  margin-left: 80px;
  margin-top: -10px;
  color: black;
  padding-bottom: 30px;
}

.success-msg{
  color: rgb(255, 255, 255);
  margin-bottom:-10px ;
  font-family: 'Roboto Mono', monospace;
  /* animation: ani1 3s ease-out forwards; */
  /* opacity: 0; */
}

.success-logo{
  padding: 0px 10px;
  color: #ea6847ef;
  animation: ani1 3s ease-out forwards;
  opacity: 0;
}
@keyframes ani2{
  100%{
    opacity: 1;
  }
}
@keyframes ani1{
  100%{
    opacity: 1;
  }
}
@keyframes ani3{
  100%{
    opacity: 1;
    margin-top: -90px;
  }
}

.msg-important{
  display: flex;
  justify-content: center;
  color: rgba(255, 0, 76, 0.479);
  margin: 40px 0px;
}
.msg-important span{
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
}

.msg-important {
  margin: 30px 190px;
  height: 60px;	
  overflow: hidden;
  position: relative;
  font-family: 'Roboto Mono', monospace;
 }

 .msg-important p {
  position: absolute;
  font-size: 17px;
  color: rgba(241, 125, 30, 0.712);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(10%);
  -webkit-transform:translateX(10%);	
  transform:translateX(10%);
  /* Apply animation to this element */	
  -moz-animation: example1 19s linear infinite;
  -webkit-animation: example1 19s linear infinite;
  animation: example1 19s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes example1 {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes example1 {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes example1 {
  0%   { 
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 
  }
 }


 .cv-head{
   margin: auto;
   text-align: center;
   background: linear-gradient(135deg,#fe3ab375 0%,#588cfe62 100%,#3a8ffe77);
   color: rgb(0, 0, 0);
   font-weight: 700;
   font-family: 'Roboto Mono', monospace;
   width: 400px;
   height: 30px;
   border-radius: 10px 10px 0px 0px;
   padding: 9px 0px;
 }
.bg{
  background-color: black;
  margin: auto;
  margin-bottom: 90px;
  width: 400px;
  height: 450px;
  border-radius: 0px 0px 10px 10px;
}

 .container-body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
 }
 .container-1{
  height: 350px;
  width: 300px;
  /* position: relative; */
}

.container-1 .wrapper-1{
  position: relative;
  top: 0;
  height: 250px;
  width: 100%;
  background: rgb(26, 25, 25);
  border: 2px solid transparent;
  border-image: linear-gradient(45deg,#3a8ffe93 0% , rgba(143, 93, 0, 0.726), rgba(66, 182, 250, 0.671),#fe58fed2 150%);
  border-image-slice: 1;
  /* border-bottom: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* .wrapper-1 .image{
  position: absolute;
  height: 70%;
  width: 100%;
  display: flex;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: none;
}
.wrapper-1 .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

.wrapper-1 .icon a{
  font-size: 70px;
  color: #a202ff2c;
  cursor: pointer;
}
.wrapper-1 .icon:hover{
  cursor: pointer;
}

.wrapper-1 .text{
  font-size: 15px;
  font-weight: 500;
  color: #5B5B7B;
  cursor: pointer;
}

.wrapper-1 .text-1{
  font-size: 15px;
  font-weight: 500;
  color: #e77c0250;
}

.show{
  margin-bottom: 30px;
}

.wrapper-1 #cancel-btn i{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #9658fe;
  cursor: pointer;
  display: none;
}

.wrapper-1 .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 2px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  display: none;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}

.container-1 #custom-btn{
  margin-top: 50px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}

.container-1 #custom-btn:hover{
  color: aliceblue;
  background-size: 230%;
  box-shadow: 0px 0px 20px 2px #9658fe, 0px 0px 20px 2px #3a8ffe;
}
/* ================
 pop up 
================ */
.bg-model{
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 127%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: none;
}

.bg-model .model-contents{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  position: relative;
  padding: 30px 40px;
  animation: anima 0.5s ease-out forwards;
  opacity: 0;
}
@keyframes anima{
  100%{
    opacity: 1;
  }
}
.close{
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 20px;
  color: black;
  cursor: pointer;
}
.file-choose{
  padding-right:50px ;
}
.file{
  font-size: 16px;
  border-radius: 40px;
  background-color: rgb(193, 197, 195);
  box-shadow: 5px 5px 10px black;
  color: black;
  outline: none;

}
::-webkit-file-upload-button{
  color: rgb(255, 255, 255);
  background-color: #206a5d;
  padding: 14px;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
}

.file-action{
margin-bottom: -22px;
}
.action{
  border: none;
  outline: none;
  background: transparent;
  background-image: linear-gradient(120deg, #206a5d, #05ddb559);
  margin-top: 50px;
  display: block;
  width: 30%;
  height: 40px;
  border-radius: 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}

.action:hover{
  background: transparent;
  border: 2px solid rgba(0, 202, 182, 0.253);
  color: #00995228;
}

.upload-msg{
  margin-top: 30px;
  margin-left: 10px;
  font-size: 16px;
  color: #e4480044;
}

/* .bg-model {
	background-color: rgb(177, 27, 27);
	width: 100%;
	height: 100%;
	position: absolute;
	 top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}  */
/* .wrapper  img{
  height: 100%;
  width: 100%;
  object-fit: cover;
} */
 /*
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
}
.container{
  height: 350px;
  width: 430px;
  position: relative;
}
.container .wrapper{
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper.active{
  border: none;
}
.wrapper .image{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper .icon{
  font-size: 100px;
  color: #9658fe;
}
.wrapper .text{
  font-size: 20px;
  font-weight: 500;
  color: #5B5B7B;
}
.wrapper #cancel-btn i{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #9658fe;
  cursor: pointer;
  display: none;
}
.wrapper.active:hover #cancel-btn i{
  display: block;
}
.wrapper #cancel-btn i:hover{
  color: #e74c3c;
}
.wrapper .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}
.wrapper.active:hover .file-name{
  display: block;
}
.container #custom-btn{
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
} */
